For the missing 15 pdfs in metadta table 

1. 1 is misisng pdf name in the metadta table, metadta status is failed
2. 14 does not exist in upstream table itself - fsr_pdf_ref table

1 pdf test reults -

Pdf_name
Base doc id = 